body {
    /* background-image: url(../background\ image.jpg); */
    color: blue;
    height: 8000px;
    /* width: 1440px; */
    /* background-position: center center; */
    background-repeat: no-repeat;
    margin: 0 auto;
   
}

img {
    width: 100%;
}